*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
     padding: 15px;
}
nav li{
    list-style-type: none;
    display: inline;
    padding-left: 20%;
   
}
nav a{
     color:white;
     text-decoration: none;
}
nav a:hover{
    color: pink;
}